/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    
}

main{
    text-shadow: 0 0 2px black;
    border-radius: 25px;
    position: relative;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: linear-gradient(
    120deg,
    hsl(315deg 73% 10%) 0%,
    hsl(321deg 75% 14%) 6%,
    hsl(329deg 77% 19%) 11%,
    hsl(335deg 80% 23%) 17%,
    hsl(342deg 83% 28%) 22%,
    hsl(349deg 85% 32%) 28%,
    hsl(356deg 88% 37%) 33%,
    hsl(3deg 90% 41%) 39%,
    hsl(10deg 93% 45%) 44%,
    hsl(17deg 95% 50%) 50%,
    hsl(21deg 96% 52%) 56%,
    hsl(24deg 97% 55%) 61%,
    hsl(28deg 97% 57%) 67%,
    hsl(32deg 97% 59%) 72%,
    hsl(36deg 98% 61%) 78%,
    hsl(39deg 99% 63%) 83%,
    hsl(43deg 99% 65%) 89%,
    hsl(46deg 100% 68%) 94%,
    hsl(50deg 100% 70%) 100%
    ); 
}



#number{
    font-size: 2.5rem;
}

.input {
    border: none;
}